<head>
  <title>Combat Covid|Audio Description Form</title>

  <link
    href="static/styles/audio_form.css"
    rel="stylesheet"
    type="text/css"
  />

</head>
<body>

  <nav id ="navbar" class="navbar navbar-expand navbar-light align-items-start">
    <div class="container d-flex justify-content-center align-items-start figs">
        <div class="row align-items-start">
            <a href="form.html">
                <figure class="item">
                    <img class="imgNavbar" src="static/images/forms.png"/>
                    <figcaption class="caption">Symptoms Form</figcaption>
                </figure>
            </a>
            <a href="landing_page.html">
                <figure class="item">
                    <img class="imgNavbar" src="../static/images/covid-19.png"/>
                    <figcaption class="caption">Home</figcaption>
                </figure>
            </a>
            <a href="/audio_form.html">
              <figure class="item"> 
                  <img class="imgNavbar" src="../static/images/headphone.png"/>
                  <figcaption class="caption">Audio Form</figcaption>
              </figure>
          </a>
        </div>
        </div>
    </div>
</nav>
  <div class="container contact-form">
    <div class="contact-image">
      <img
        id="heart"
        src="https://www.flaticon.com/premium-icon/icons/svg/2781/2781395.svg"
      />
    </div>
    <form form method="post" action="/audio-form-upload" enctype="multipart/form-data">
    <h3 id="main-heading">COVID-19 Audio Description Form</h3>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <strong>Info!</strong> Please feel free to record the description of your symptoms in a single sentence and then press stop to send the recording.
      </div>
      
      <button type="button" id="recordButton"><img src="../static/images/microphone.png"/></button>
      <button type="button" id="pauseButton" disabled><img src="../static/images/pause.png"/></button>
      <button type="button" id="stopButton" disabled><img src="../static/images/stop-button.png"/></button>

      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-xl-12">
          <div class="form-group">
            <input
              type="email"
              id="inputEmail"
              name="email"
              class="form-control"
              placeholder="Email"
            />
          </div> 
  
          <div
            aria-labelledby="myModalLabel"
            class="modal fade"
            id="overlayModal"
            role="dialog"
            tabindex="-1"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="alert">
                    Are you sure you want to submit the form? (You can't come
                    back to this page)
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="hidden" id="RowId" value="" />
                  <button
                    class="btn btn-default"
                    data-dismiss="modal"
                    type="button"
                  >
                    Cancel
                  </button>
                  <button class="btn" id="submit-button" type="submit">
                    Yes, submit
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div
              data-toggle="modal"
              data-target="#overlayModal"
              name="btnSubmit"
              class="btnContact"
              style="text-align: center;"
            >
              Submit
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="../static/javascript/audio_form.js"></script>

