<head>
        <title>Combat Covid|Home</title>
        <link
        href="static/styles/landing_page.css"
        rel="stylesheet"
        type="text/css"
      />    </head>
    <body>      
        <div class="whatdiv">
            <p class ="d-flex justify-content-center heading-quest align-items-bottom mb-4">Combat Covid</p>
            <nav id ="navbar" class=" navbar navbar-expand navbar-light align-items-start">
                <div class="container d-flex justify-content-center align-items-start figs">
                    <div class="align-items-start">
                      <a href="form.html">
                        <figure class="item">
                            <img class="img" src="static/images/forms.png"/>
                            <figcaption class="caption">Symptoms Form</figcaption>
                        </figure>
                    </a>
                      <a href="landing_page.html">
                        <figure class="item">
                            <img class="img" src="static/images/covid-19.png"/>
                            <figcaption class="caption">Home</figcaption>
                        </figure>
                    </a>
                    <a href="audio_form.html">
                      <figure class="item"> 
                          <img class="imgNavbar" src="static/images/headphone.png"/>
                          <figcaption class="caption">Audio Form</figcaption>
                      </figure>
                  </a>
                    </div>
                    </div>
                </div>
        </nav>
        


         <div class="row yellow">
             <h1 class="col-md-6 col-12 align-self-center text-center collapsible">Problem statement:</h1>
             <div class="align-self-center col-md-6 col-12 content">
                <p class="text-justify texty-font">One of the main headlines and problems, related to covid was the amount of burden it put on the current health system and the front-line workers. </p>
                </div>
              </div>
              <hr style="width:50%">
              <div class="row">
                <h1 class="col-12 col-md-6 align-self-center text-center collapsible">Our Idea:</h1>
                <div class="align-self-center col-md-6 col-12 content">
                   <p class="text-justify texty-font">So, our idea is to work on introducing a covid testing procedure with the power of AI using convolutional neural network, to automatically decide whether the patient has covid or not. We believe that with an appropriate amount of data, deep learning algorithms could automatically analyse computed tomography (CT) of the chest and the clinical history, prioritize radiology worklists, and reduce the time for the diagnosis of COVID-19. </p>
                   </div>
                 </div>
                 <hr style="width:50%">
              <div class="row yellow">
                <h1 class="col-md-6 col-12 align-self-center text-center collapsible">Implementation of our idea:</h1>
                <div class="align-self-center col-md-6 col-12 content">
                   <p class="text-justify texty-font">First and foremost, step is data collection. Data collection is done in two different methods.
                    One is collecting data using forms. It includes providing very detailed written form in which patient can write their symptoms and our text recognition system gathers the data. Second one is that the patient can talk about their habits and symptoms and our speech recognition algorithm will gather the data. Patient can use either way in which they are comfortable with.
                    The application then uses OpenAI to compare the data against many recorded backgrounds and symptoms to give a prediction of the Covid test Result. If there is a high probability of a positive result, the hospital technician can issue a CT scan of the patient's chest. At last, the report of the covid test will be formatted as pdf and sent to the patient through mail. If the patient gets positive, we also suggest the medication according to their symptoms.
                    Through this, the patient can know their covid test result without consulting a doctor. 
                    
                  </p>
                   </div>
                 </div>    


   </div> 
        <script src="static/javascript/landing_page.js"></script>
    </body>


