body {
  background: -webkit-linear-gradient(top, #ce343d, #555a5e);
}

h4 {
  color: #999;
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 16px;
}

.extra {
  margin: 25px 0 0 0;
}

.radio_bool {
  margin: 25px 0 0 0;
  padding: 0;
}

.radio_bool label,
.radio_bool input {
  display: inline-block;
  position: absolute;
  border-radius: 15px;
  border: 2px solid black;
  width: 5rem;
  text-align: center;
}

.radio_bool input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.radio_bool input[type="radio"]:checked + label {
  background: #555a5e;
  color: white;
}

.radio_bool label {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.radio_bool label:hover {
  background: #ddd;
}

.radio_bool_diseases label {
  width: 90%;
}

.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
}

.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}

.contact-image #heart {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
}

.contact-form form {
  padding: 14%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

#main-heading {
  font-size: 3rem;
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}

.btnContact {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #0062cc;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

#submit-button {
  background: #0062cc;
  color: white;
}

.navbar {
  width: 100%;
  height: 2vw;
}

.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 6.4vw;
}

.imgNavbar {
  width: 5vw;
  height: 5vw;
  background-color: black;
  border-radius: 10%;
}

.caption {
  display: block;
  color: black;
  font-size: 1vw;
}

figcaption {
  color: black;
}

figure:hover > img {
  border: 5px black solid;
}

#recordButton {
  margin-left: 284px;
}

#recordButton img {
  height: 66px;
}

#pauseButton img {
  height: 66px;
}

#stopButton img {
  height: 66px;
}

.submit{
  float: right;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5%;
  background: #0062cc;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.pdf-overlay {
    animation-duration: 10s;
    z-index: 20;
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(top, #ce343d, #555a5e);
    opacity: 86%
}

iframe{
    margin: 0 auto;
    display: flex;
    align-items:center;
}

#inputEmail {
  width: 95%;
  margin-top: 6px;
  margin-left: 70px;
}

@media only screen and (max-width: 768px) {
  .item {
    width: 3rem;
  }
  
  .imgNavbar {
    width: 2.2rem;
    height: 2.2rem;
  }

  .caption {
    display: none;
  }

  .form-control {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  h5 {
    font-size: 0.75rem;
    text-align: center;
  }

  .contact-image #heart {
    margin-top: -4%;
  }

  .contact-form {
    width: 93%;
  }

  #main-heading {
    font-size: 2rem;
  }

  .alert {
    font-size: 13px;
  }

  .radio_bool_diseases label {
    width: 40%;
    margin-left: 25%;
    font-size: 0.8rem;
  }

  .radio_bool label {
    margin-left: 25%;
    width: 40%;
    font-size: 0.8rem;
  }

  .radio_bool_COVID label{
    margin-left: 10%;
    width: 70%;
  }
}

